<ion-datetime #dateTime [locale]="'es-MX'" (ionChange)="change(dateTime.value)" [presentation]="type" [min]="min"
  [max]="max" [showDefaultButtons]="true" [(ngModel)]="value" mode="md">
  <span slot="title">Selecciona la fecha</span>
  <ion-buttons slot="buttons">
    <ion-button expand="block" shape="round" fill="solid" (click)="dateTime.cancel(true)">Cancelar</ion-button>
    <ion-button expand="block" shape="round" fill="solid" (click)="dateTime.confirm(true)">Aceptar</ion-button>
  </ion-buttons>
</ion-datetime>
