@font-face {
  font-family: "Fascinate";
  src: url("../assets/fonts/Fascinate-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Avenir-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
