.main-bg {
  align-items: center;
  background: url("../../../assets/img/home-banner.png") lightgray 50% / cover
    no-repeat;
  display: flex;
  height: auto;
  justify-content: flex-end;
  ion-list.quotes {
    height: 100%;
    justify-content: center;
    margin: 10% 5.5% 8%;
    max-height: 406px;
    max-width: 414px;
    width: 100%;
  }
}

ion-grid {
  &.container {
    padding: 72px 40px;
    ion-row {
      &.datatable-container {
        border: 1px solid var(--ion-color-light-shade);
        padding: 0 28px;
      }
      ion-col {
        padding: 0;
        ion-list {
          &[custom-list] {
            ion-list-header {
              --color: var(--ion-color-primary);
              display: grid;
              font-size: 30px;
              font-weight: 700;
              justify-content: center;
              line-height: 24px;
              min-height: auto;
              padding: 24px 0;
            }
          }
        }
      }
    }
  }
}
